.table-bordered>:not(caption)>*>*{
    font-size: 13px;
    font-weight: 600;
}

.list-group-item.active{
background-color: #337ab7;
}
.list-group{
    padding-top: 20px;
}
.list-group-item{
    font-size: 14px;
    font-weight: 500;
}
.alert-info{
    --bs-alert-bg: #fff;
    --bs-alert-border-color: #fff;
}
.btn-primary{
    background-color: #e1bd85;
    border: #e1bd85;

}
.fst{
    font-size: 15px;
    font-weight: 500;

}